<section class="featured-course">

  <div class="featured-container">

    <!-- LEFT IMAGE -->
    <div class="image-box">
      <img src="/images/service1.png" alt="Featured Course">
    </div>

    <!-- RIGHT CONTENT -->
    <div class="content-box">

      <!-- Tag -->
      <div class="tag">
        <span class="dot"></span>
        FEATURED COURSES
      </div>

      <h2 class="title">
        Get Started With Our <br>
        Courses from Beginner to Advance level
      </h2>

      <p class="description">
        Providing high quality tech course accompanied by detailed training samples.
      </p>

      <!-- Checklist -->
      <div class="checklist">
        <ul>
          <li><i class="fa-solid fa-circle-check"></i> Data Science</li>
          <li><i class="fa-solid fa-circle-check"></i> Graphic Design</li>
          <li><i class="fa-solid fa-circle-check"></i> Modern Computer Packages</li>
          <li><i class="fa-solid fa-circle-check"></i> Java, Python etc.</li>
        </ul>

        <ul>
          <li><i class="fa-solid fa-circle-check"></i> Web Development</li>
          <li><i class="fa-solid fa-circle-check"></i> Advance Excel</li>
          <li><i class="fa-solid fa-circle-check"></i> Digital Marketing</li>
        </ul>
      </div>

      <!-- Button -->
      <!-- <button class="start-btn">Start Course</button> -->

    </div>

  </div>

</section>

