
.featured-course {
  width: auto;
  padding: 80px 20px;
  background: #fff;

  .featured-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    width: auto;
  }

  .image-box {
    flex: 1 1 45%;

    img {
      width: 100%;
      border-radius: 20px;
      object-fit: cover;
    }
  }

  .content-box {
    flex: 1 1 45%;
  }

  /* Tag */
  .tag {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #666;
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    .dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #fbc02d;
      margin-right: 8px;
    }
  }

  .title {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #111;
  }

  .description {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 30px;
    color: #444;
    max-width: 550px;
  }

  /* Checklist */
  .checklist {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 14px;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        color: #333;

        i {
          color: #0066ff;
          font-size: 18px;
          margin-right: 10px;
        }
      }
    }
  }

  /* Button */
  .start-btn {
    background: #0066ff;
    border: none;
    padding: 14px 34px;
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      opacity: 0.85;
    }
  }

  /* Responsive */
  @media (max-width: 900px) {
    .container {
      flex-direction: column;
      text-align: center;
    }

    .checklist {
      flex-direction: column;
      align-items: center;
    }
  }
}
