<footer class="footer">
  <div class="footer-container">

    <!-- Logo & Description -->
    <div class="footer-section about">
      <div class="brand">
        <img src="/images/ATS.png" alt="Logo" class="brand-logo">
        <span class="brand-name">ATS</span>
      </div>

      <p>
       We offer hands-on tech training, creative graphic design, and scalable software development to help individuals and businesses grow in the digital world
      </p>

      <div class="social-icons">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-x-twitter"></i>
      </div>
    </div>

    <!-- Learning Path -->
    <div class="footer-section">
      <h3>ATS SOLUTIONS</h3>
      <br>
      <P>Web Design & Development</P>
      <br>
      <p>ERP Systems</p>
      <br>
      <p>Graphic Design</p>
      <br>
      <p>Short Courses Training</p>
      <!-- <ul>
        <li>Web Development</li>
        <li>Mobile Development</li>
        <li>Machine Learning</li>
        <li>Data Science</li>
      </ul> -->
    </div>

    <!-- Topics -->
    <div class="footer-section">
      <h3>Quick Links</h3>
      <ul>
        <li><a routerLink="/home">HOME</a></li>
        <li><a routerLink="/train">TECH-TRAINING</a></li>
        <li><a routerLink="/dev">TECH-DEVELOPMENT</a></li>
        <li><a routerLink="/contact">CONTACT</a></li>
        <li><a routerLink="/about">ABOUT</a></li>
      </ul>
    </div>

    <!-- Contact -->
    <div class="footer-section">
      <h3>Get In Touch</h3>

      <p>Umoja-Nairobi,KENYA.</p>
      <br>
      <p>0725452346</p>
      <br>
      <p>kipngetichhosea835@gmail.com</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>Copyright © 2025 ATS HUB Services</p>
  </div>
</footer>

